
body {
	background-color: #766980;
	font-size: 12px;
}

header{
	background-color: #766980;
}

.cust-page-title {
	font-size: 2.5em;
	float: left;
}

.cust-page-nav {
	padding-top: 20px;
}


.cust-page-nav,
.cust-page-nav a  {
	float: right;
}

.cust-page-nav > a > div {
	width: 200px;
	text-align:center;
	font-size: 2em;
	background-color: #DB5A6B;
	margin-left: 10px;
}

.canvas {
	border: blue 5px solid;
	background-color: transparent;
	position: absolute; 
	width: 100%;
	height: 90%;}

.can1 {background-color: black;}